.nav-menu {
    transition: all 0.3s ease;
    z-index: 10;
    background-color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link{
    color: #FFFFFF;
    font-family: 'Yusei Magic', sans-serif;;
    font-size: 14px;
    font-weight: 500;
    &:hover{
        color:#343a40 !important;
        border-color: #343a40;
        border-radius: 4px;
        border: 1px solid;
        background-color: #FFFFFF;
    }
}

.cart-design{
    color:#FFFFFF;//#64dd17;
    font-family: 'Yusei Magic', sans-serif;
    &:hover{
        color:#343a40 !important;
        border-color: #343a40;
        border-radius: 4px;
        border: 1px solid;
        background-color: #FFFFFF;
    }

}

.cart-value{
    color: #343a40;
    border-color: #343a40;
    border-radius: 4px;
    border: 1px solid;
    background-color: #FFFFFF;
}

.bgcolor{
    background-color: #0e141a;
    // opacity: 0.2;
}

.active-link{
    color: #343a40 !important;
    border-color: #343a40;
    border-radius: 4px;
    border: 1px solid;
    background-color: #FFFFFF;
}
