<!-- <div class="row">
    <div class="main-layout">
      <h1>WELCOME TO MY BOOKSTORE</h1>
    </div>
</div> -->
<div class="row">
  <div class="col-md-12 welcome-design">
    <h3>WELCOME TO MY BOOKSTORE</h3> 
  </div>
</div>
<ngb-carousel [interval]="10000">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/carousel_1.png" alt="Angular Carousel 1">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/carousel_2.png" alt="Angular Carousel 2">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/carousel_3.png" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
</ngb-carousel>